ul.visible li a svg{
    margin-right: 5px !important
}

ul.visible li a:hover{
    transition:all .5s !important;
    background: #efefef !important;
}

ul.visible li a:hover >svg{
    color: #800000 !important;
    --color:black !important;

}