.table-container{
    border:thin solid rgba(0, 0, 0, .2);
    margin-left:235px;
    width: 82.3%;
    height: 86vh !important;
    overflow-x: scroll !important;
  
}



.table-container table tbody tr:hover{
    transition: all .9s !important;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.table-container table{
    margin-top: 15px !important;
    position: relative !important;
    border:thin solid rgba(0, 0, 0, .2);
    width: 98% !important;
    margin:15px 1% 0 1%;

    
}

ul.pagination{

    width: 98% !important;
    margin: 10px 1% !important;
}